# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Emacs stuff
TAGS

# Ignore executable
src/dynamicLoadTest
src/runProcessTest
src/dependencyTest
runtime/HotReloadingTest
hot_loader*

test/ExecuteMe
test/MultiLineStrings
test/BuildDependencies
test/BuildHelpers
test/CodeModification
test/CppHelpers
test/Defines
test/Hello
test/Hooks
test/SimpleMacros
test/Defer
test/Export
test/Tutoral_Basics

*.cake.cpp
*.cake.hpp

libcomptime*
comptime_*

bin/
lib/
a.out
cakelisp_cache/

VisualStudio/Cakelisp/Debug
VisualStudio/Cakelisp/x64
VisualStudio/Cakelisp/.vs
output.exe
*.pdb